<div class="center jumbotron">
  <h1>Welcome to Auto Rec</h1>

  <h2>
    Auto Rec is a project to help you make sure that you never lose any money!
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
