<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Auto Rec is a project to help you make sure that you never lose any money!  Auto Rec compares your receipts against your bank statements to make sure that there are no discrepencies.

  Eventually, Auto Rec will alert you when it believes that there is a discrepency and, once confirmed, will take care of getting your money back for you.
</p>